<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Wave_main_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,10},{268,1920}}</string>
        <key>offset</key>
        <string>{-406,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{268,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,10},{269,1920}}</string>
        <key>offset</key>
        <string>{-405.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{269,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,10},{231,1920}}</string>
        <key>offset</key>
        <string>{-424.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{231,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,10},{231,1920}}</string>
        <key>offset</key>
        <string>{-424.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{231,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1089,10},{173,1920}}</string>
        <key>offset</key>
        <string>{-453.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{173,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1282,10},{183,1920}}</string>
        <key>offset</key>
        <string>{-448.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{183,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1485,10},{187,1920}}</string>
        <key>offset</key>
        <string>{-446.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{187,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1692,10},{188,1920}}</string>
        <key>offset</key>
        <string>{-446,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{188,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1900,10},{191,1920}}</string>
        <key>offset</key>
        <string>{-444.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{191,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,1950},{195,1920}}</string>
        <key>offset</key>
        <string>{-442.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{195,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,1950},{200,1920}}</string>
        <key>offset</key>
        <string>{-440,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,1950},{205,1920}}</string>
        <key>offset</key>
        <string>{-437.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{205,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,1950},{211,1920}}</string>
        <key>offset</key>
        <string>{-434.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{211,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{901,1950},{216,1920}}</string>
        <key>offset</key>
        <string>{-432,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1137,1950},{222,1920}}</string>
        <key>offset</key>
        <string>{-429,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{222,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{1379,1950},{227,1920}}</string>
        <key>offset</key>
        <string>{-426.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{227,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{1626,1950},{232,1920}}</string>
        <key>offset</key>
        <string>{-424,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{232,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{1878,1950},{236,1920}}</string>
        <key>offset</key>
        <string>{-422,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{236,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{2111,10},{240,1920}}</string>
        <key>offset</key>
        <string>{-420,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{240,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{2134,1950},{243,1920}}</string>
        <key>offset</key>
        <string>{-418.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{2371,10},{246,1920}}</string>
        <key>offset</key>
        <string>{-417,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{246,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{2397,1950},{248,1920}}</string>
        <key>offset</key>
        <string>{-416,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{2637,10},{249,1920}}</string>
        <key>offset</key>
        <string>{-415.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{249,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{2665,1950},{251,1920}}</string>
        <key>offset</key>
        <string>{-414.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{251,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{2906,10},{252,1920}}</string>
        <key>offset</key>
        <string>{-414,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{252,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{2936,1950},{255,1920}}</string>
        <key>offset</key>
        <string>{-412.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{3178,10},{260,1920}}</string>
        <key>offset</key>
        <string>{-410,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{3211,1950},{264,1920}}</string>
        <key>offset</key>
        <string>{-408,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{264,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{3458,10},{231,1920}}</string>
        <key>offset</key>
        <string>{-424.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{231,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{3495,1950},{231,1920}}</string>
        <key>offset</key>
        <string>{-424.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{231,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{3709,10},{232,1920}}</string>
        <key>offset</key>
        <string>{-424,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{232,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{3746,1950},{159,1911}}</string>
        <key>offset</key>
        <string>{-460.5,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{159,1911}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{3961,10},{116,891}}</string>
        <key>offset</key>
        <string>{-482,514.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,891}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{3961,921},{41,841}}</string>
        <key>offset</key>
        <string>{-519.5,512.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,27},{41,841}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{3961,1782},{91,802}}</string>
        <key>offset</key>
        <string>{-494.5,559}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,802}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{3925,2604},{67,242}}</string>
        <key>offset</key>
        <string>{-506.5,839}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,242}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{4022,921},{42,172}}</string>
        <key>offset</key>
        <string>{-519,874}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,172}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{4022,1113},{26,140}}</string>
        <key>offset</key>
        <string>{-527,861}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,29},{26,140}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{4022,1273},{20,95}}</string>
        <key>offset</key>
        <string>{-530,912.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,95}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{3925,1950},{15,93}}</string>
        <key>offset</key>
        <string>{-532.5,884.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,29},{15,93}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{4072,1113},{5,40}}</string>
        <key>offset</key>
        <string>{-537.5,910}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,30},{5,40}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>waves_main-0.png</string>
      <key>size</key>
      <string>{4087,3880}</string>
      <key>textureFileName</key>
      <string>waves_main-0</string>
    </dict>
  </dict>
</plist>
