<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Wave_main_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,10},{256,1920}}</string>
        <key>offset</key>
        <string>{-412,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,10},{231,1920}}</string>
        <key>offset</key>
        <string>{-424.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{231,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,10},{276,1920}}</string>
        <key>offset</key>
        <string>{-402,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{276,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,10},{278,1920}}</string>
        <key>offset</key>
        <string>{-401,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{278,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{1131,10},{279,1920}}</string>
        <key>offset</key>
        <string>{-400.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{279,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{1430,10},{278,1920}}</string>
        <key>offset</key>
        <string>{-401,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{278,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{1728,10},{276,1920}}</string>
        <key>offset</key>
        <string>{-402,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{276,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,1950},{274,1920}}</string>
        <key>offset</key>
        <string>{-403,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{274,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,1950},{271,1920}}</string>
        <key>offset</key>
        <string>{-404.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{271,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,1950},{268,1920}}</string>
        <key>offset</key>
        <string>{-406,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{268,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{883,1950},{264,1920}}</string>
        <key>offset</key>
        <string>{-408,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{264,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{1167,1950},{260,1920}}</string>
        <key>offset</key>
        <string>{-410,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{260,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{1447,1950},{271,1920}}</string>
        <key>offset</key>
        <string>{-404.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{271,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{1738,1950},{251,1920}}</string>
        <key>offset</key>
        <string>{-414.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{251,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{2009,1950},{247,1920}}</string>
        <key>offset</key>
        <string>{-416.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{247,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{2024,10},{242,1920}}</string>
        <key>offset</key>
        <string>{-419,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{2276,1950},{237,1920}}</string>
        <key>offset</key>
        <string>{-421.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{237,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{2286,10},{231,1920}}</string>
        <key>offset</key>
        <string>{-424.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{231,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{2533,1950},{231,1920}}</string>
        <key>offset</key>
        <string>{-424.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{231,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{2537,10},{231,1920}}</string>
        <key>offset</key>
        <string>{-424.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{231,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{2784,1950},{231,1920}}</string>
        <key>offset</key>
        <string>{-424.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{231,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{2788,10},{231,1920}}</string>
        <key>offset</key>
        <string>{-424.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{231,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{3035,1950},{231,1920}}</string>
        <key>offset</key>
        <string>{-424.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{231,1920}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_main_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{3039,10},{139,1871}}</string>
        <key>offset</key>
        <string>{-470.5,24.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,1871}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>waves_main-1.png</string>
      <key>size</key>
      <string>{3276,3880}</string>
      <key>textureFileName</key>
      <string>waves_main-1</string>
    </dict>
  </dict>
</plist>
