<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Wave_puzzle_053.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,10},{1080,98}}</string>
        <key>offset</key>
        <string>{0,772}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,98}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_000.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,128},{1080,67}}</string>
        <key>offset</key>
        <string>{0,787.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,67}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,215},{1080,79}}</string>
        <key>offset</key>
        <string>{0,781.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,79}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,314},{1080,83}}</string>
        <key>offset</key>
        <string>{0,779.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,83}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,417},{1080,84}}</string>
        <key>offset</key>
        <string>{0,779}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,84}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,521},{1080,85}}</string>
        <key>offset</key>
        <string>{0,778.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,85}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,626},{1080,86}}</string>
        <key>offset</key>
        <string>{0,778}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,86}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,732},{1080,87}}</string>
        <key>offset</key>
        <string>{0,777.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,87}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,839},{1080,89}}</string>
        <key>offset</key>
        <string>{0,776.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,89}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,948},{1080,91}}</string>
        <key>offset</key>
        <string>{0,775.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,91}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,1059},{1080,93}}</string>
        <key>offset</key>
        <string>{0,774.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,93}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,10},{1080,95}}</string>
        <key>offset</key>
        <string>{0,773.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,95}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,1172},{1080,97}}</string>
        <key>offset</key>
        <string>{0,772.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,97}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{1225,10},{1080,99}}</string>
        <key>offset</key>
        <string>{0,771.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,99}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,1289},{1080,101}}</string>
        <key>offset</key>
        <string>{0,770.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,101}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{1344,10},{1080,102}}</string>
        <key>offset</key>
        <string>{0,770}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,102}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,1410},{1080,104}}</string>
        <key>offset</key>
        <string>{0,769}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,104}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{1466,10},{1080,105}}</string>
        <key>offset</key>
        <string>{0,768.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,105}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,1534},{1080,106}}</string>
        <key>offset</key>
        <string>{0,768}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,106}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{1591,10},{1080,106}}</string>
        <key>offset</key>
        <string>{0,768}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,106}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,1660},{1080,107}}</string>
        <key>offset</key>
        <string>{0,767.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,107}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{1717,10},{1080,108}}</string>
        <key>offset</key>
        <string>{0,767}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,108}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,1787},{1080,108}}</string>
        <key>offset</key>
        <string>{0,767}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,108}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{1845,10},{1080,109}}</string>
        <key>offset</key>
        <string>{0,766.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,109}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,1915},{1080,111}}</string>
        <key>offset</key>
        <string>{0,765.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,111}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{1974,10},{1080,112}}</string>
        <key>offset</key>
        <string>{0,765}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,112}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,2046},{1080,114}}</string>
        <key>offset</key>
        <string>{0,764}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,114}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{2106,10},{1080,114}}</string>
        <key>offset</key>
        <string>{0,764}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,114}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,1110},{1080,115}}</string>
        <key>offset</key>
        <string>{0,763.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,115}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_029.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,1245},{1080,117}}</string>
        <key>offset</key>
        <string>{0,762.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,117}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_030.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,1382},{1080,117}}</string>
        <key>offset</key>
        <string>{0,762.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,117}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_031.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,1519},{1080,118}}</string>
        <key>offset</key>
        <string>{0,762}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,118}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_032.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,1657},{1080,117}}</string>
        <key>offset</key>
        <string>{0,762.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,117}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_033.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,1794},{1080,117}}</string>
        <key>offset</key>
        <string>{0,762.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,117}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_034.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,1931},{1080,116}}</string>
        <key>offset</key>
        <string>{0,763}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,116}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_035.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,2180},{1080,115}}</string>
        <key>offset</key>
        <string>{0,763.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,115}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_036.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,2067},{1080,114}}</string>
        <key>offset</key>
        <string>{0,764}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,114}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_037.png</key>
      <dict>
        <key>frame</key>
        <string>{{2240,10},{1080,112}}</string>
        <key>offset</key>
        <string>{0,765}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,112}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_038.png</key>
      <dict>
        <key>frame</key>
        <string>{{2210,1110},{1080,111}}</string>
        <key>offset</key>
        <string>{0,765.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,111}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_039.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,2201},{1080,109}}</string>
        <key>offset</key>
        <string>{0,766.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,109}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_040.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,2315},{1080,108}}</string>
        <key>offset</key>
        <string>{0,767}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,108}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_041.png</key>
      <dict>
        <key>frame</key>
        <string>{{2372,10},{1080,106}}</string>
        <key>offset</key>
        <string>{0,768}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,106}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_042.png</key>
      <dict>
        <key>frame</key>
        <string>{{2341,1110},{1080,104}}</string>
        <key>offset</key>
        <string>{0,769}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,104}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_043.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,2443},{1080,102}}</string>
        <key>offset</key>
        <string>{0,770}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,102}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_044.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,2330},{1080,101}}</string>
        <key>offset</key>
        <string>{0,770.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,101}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_045.png</key>
      <dict>
        <key>frame</key>
        <string>{{2498,10},{1080,98}}</string>
        <key>offset</key>
        <string>{0,772}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,98}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_046.png</key>
      <dict>
        <key>frame</key>
        <string>{{2465,1110},{1080,96}}</string>
        <key>offset</key>
        <string>{0,773}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,96}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_047.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,2451},{1080,93}}</string>
        <key>offset</key>
        <string>{0,774.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,93}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_048.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,2565},{1080,89}}</string>
        <key>offset</key>
        <string>{0,776.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,89}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_049.png</key>
      <dict>
        <key>frame</key>
        <string>{{2616,10},{1080,94}}</string>
        <key>offset</key>
        <string>{0,774}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,94}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_050.png</key>
      <dict>
        <key>frame</key>
        <string>{{2581,1110},{1080,95}}</string>
        <key>offset</key>
        <string>{0,773.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,95}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_051.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,2674},{1080,96}}</string>
        <key>offset</key>
        <string>{0,773}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,96}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_052.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,2564},{1080,97}}</string>
        <key>offset</key>
        <string>{0,772.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,97}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,2681},{1080,74}}</string>
        <key>offset</key>
        <string>{0,784}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,74}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_054.png</key>
      <dict>
        <key>frame</key>
        <string>{{2730,10},{1080,100}}</string>
        <key>offset</key>
        <string>{0,771}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,100}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_055.png</key>
      <dict>
        <key>frame</key>
        <string>{{2696,1110},{1080,102}}</string>
        <key>offset</key>
        <string>{0,770}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,102}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_056.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,2790},{1080,104}}</string>
        <key>offset</key>
        <string>{0,769}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,104}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_057.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,2775},{1080,106}}</string>
        <key>offset</key>
        <string>{0,768}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,106}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_058.png</key>
      <dict>
        <key>frame</key>
        <string>{{2850,10},{1080,108}}</string>
        <key>offset</key>
        <string>{0,767}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,108}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_059.png</key>
      <dict>
        <key>frame</key>
        <string>{{2818,1110},{1080,110}}</string>
        <key>offset</key>
        <string>{0,766}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,110}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_060.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,2914},{1080,113}}</string>
        <key>offset</key>
        <string>{0,764.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,113}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_061.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,2901},{1080,114}}</string>
        <key>offset</key>
        <string>{0,764}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,114}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_062.png</key>
      <dict>
        <key>frame</key>
        <string>{{2978,10},{1080,116}}</string>
        <key>offset</key>
        <string>{0,763}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,116}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_063.png</key>
      <dict>
        <key>frame</key>
        <string>{{2948,1110},{1080,117}}</string>
        <key>offset</key>
        <string>{0,762.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,117}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_064.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,3047},{1080,118}}</string>
        <key>offset</key>
        <string>{0,762}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,118}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_065.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,3035},{1080,113}}</string>
        <key>offset</key>
        <string>{0,759.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,113}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_066.png</key>
      <dict>
        <key>frame</key>
        <string>{{3114,10},{1080,114}}</string>
        <key>offset</key>
        <string>{0,759}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,114}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_067.png</key>
      <dict>
        <key>frame</key>
        <string>{{3085,1110},{1080,115}}</string>
        <key>offset</key>
        <string>{0,758.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,115}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_068.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,3185},{1080,115}}</string>
        <key>offset</key>
        <string>{0,758.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,115}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_069.png</key>
      <dict>
        <key>frame</key>
        <string>{{2210,2210},{1080,116}}</string>
        <key>offset</key>
        <string>{0,758}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,116}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_070.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,3168},{1080,118}}</string>
        <key>offset</key>
        <string>{0,757}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,118}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_071.png</key>
      <dict>
        <key>frame</key>
        <string>{{2346,2210},{1080,119}}</string>
        <key>offset</key>
        <string>{0,756.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,119}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_072.png</key>
      <dict>
        <key>frame</key>
        <string>{{2485,2210},{1080,121}}</string>
        <key>offset</key>
        <string>{0,755.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,121}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_073.png</key>
      <dict>
        <key>frame</key>
        <string>{{2626,2210},{1080,121}}</string>
        <key>offset</key>
        <string>{0,755.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,121}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_074.png</key>
      <dict>
        <key>frame</key>
        <string>{{2767,2210},{1080,122}}</string>
        <key>offset</key>
        <string>{0,755}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,122}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_075.png</key>
      <dict>
        <key>frame</key>
        <string>{{2909,2210},{1080,124}}</string>
        <key>offset</key>
        <string>{0,754}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,124}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_076.png</key>
      <dict>
        <key>frame</key>
        <string>{{3053,2210},{1080,124}}</string>
        <key>offset</key>
        <string>{0,754}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,124}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_077.png</key>
      <dict>
        <key>frame</key>
        <string>{{3248,10},{1080,125}}</string>
        <key>offset</key>
        <string>{0,753.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,125}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_078.png</key>
      <dict>
        <key>frame</key>
        <string>{{3197,2210},{1080,124}}</string>
        <key>offset</key>
        <string>{0,754}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,124}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_079.png</key>
      <dict>
        <key>frame</key>
        <string>{{3220,1110},{1080,124}}</string>
        <key>offset</key>
        <string>{0,754}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,124}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_080.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,3306},{1080,123}}</string>
        <key>offset</key>
        <string>{0,754.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,123}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_081.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,3320},{1080,122}}</string>
        <key>offset</key>
        <string>{0,755}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,122}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_082.png</key>
      <dict>
        <key>frame</key>
        <string>{{2210,3310},{1080,121}}</string>
        <key>offset</key>
        <string>{0,755.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,121}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_083.png</key>
      <dict>
        <key>frame</key>
        <string>{{3393,10},{1080,119}}</string>
        <key>offset</key>
        <string>{0,756.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,119}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_084.png</key>
      <dict>
        <key>frame</key>
        <string>{{3364,1110},{1080,118}}</string>
        <key>offset</key>
        <string>{0,757}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,118}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_085.png</key>
      <dict>
        <key>frame</key>
        <string>{{3341,2210},{1080,116}}</string>
        <key>offset</key>
        <string>{0,758}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,116}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_086.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,3449},{1080,115}}</string>
        <key>offset</key>
        <string>{0,758.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,115}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_087.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,3462},{1080,113}}</string>
        <key>offset</key>
        <string>{0,759.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,113}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_088.png</key>
      <dict>
        <key>frame</key>
        <string>{{2210,3451},{1080,111}}</string>
        <key>offset</key>
        <string>{0,760.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,111}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_089.png</key>
      <dict>
        <key>frame</key>
        <string>{{3532,10},{1080,109}}</string>
        <key>offset</key>
        <string>{0,761.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,109}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_090.png</key>
      <dict>
        <key>frame</key>
        <string>{{3502,1110},{1080,108}}</string>
        <key>offset</key>
        <string>{0,762}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,108}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_091.png</key>
      <dict>
        <key>frame</key>
        <string>{{3477,2210},{1080,104}}</string>
        <key>offset</key>
        <string>{0,764}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,104}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_092.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,3595},{1080,102}}</string>
        <key>offset</key>
        <string>{0,765}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,102}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_093.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,3584},{1080,99}}</string>
        <key>offset</key>
        <string>{0,766.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,99}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_094.png</key>
      <dict>
        <key>frame</key>
        <string>{{2210,3582},{1080,95}}</string>
        <key>offset</key>
        <string>{0,768.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,95}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_095.png</key>
      <dict>
        <key>frame</key>
        <string>{{3661,10},{1080,91}}</string>
        <key>offset</key>
        <string>{0,770.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,144},{1080,91}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_096.png</key>
      <dict>
        <key>frame</key>
        <string>{{3630,1110},{1080,92}}</string>
        <key>offset</key>
        <string>{0,775}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,92}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_097.png</key>
      <dict>
        <key>frame</key>
        <string>{{3601,2210},{1080,81}}</string>
        <key>offset</key>
        <string>{0,780.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,81}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_098.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,3717},{1080,71}}</string>
        <key>offset</key>
        <string>{0,785.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,71}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_099.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,3703},{1080,61}}</string>
        <key>offset</key>
        <string>{0,790.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,61}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_100.png</key>
      <dict>
        <key>frame</key>
        <string>{{2210,3697},{1080,54}}</string>
        <key>offset</key>
        <string>{0,794}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,54}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_101.png</key>
      <dict>
        <key>frame</key>
        <string>{{3702,2210},{1080,46}}</string>
        <key>offset</key>
        <string>{0,798}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,46}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_102.png</key>
      <dict>
        <key>frame</key>
        <string>{{3742,1110},{1080,40}}</string>
        <key>offset</key>
        <string>{0,801}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,40}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_103.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,3808},{1080,49}}</string>
        <key>offset</key>
        <string>{0,796.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,49}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_104.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,3784},{1080,59}}</string>
        <key>offset</key>
        <string>{0,791.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,59}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>Wave_puzzle_105.png</key>
      <dict>
        <key>frame</key>
        <string>{{2210,3771},{1080,67}}</string>
        <key>offset</key>
        <string>{0,787.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,139},{1080,67}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>waves_puzzle.png</string>
      <key>size</key>
      <string>{3792,3867}</string>
      <key>textureFileName</key>
      <string>waves_puzzle</string>
    </dict>
  </dict>
</plist>
