<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Cat_5_anim_Toy_0_2x13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_2_7x8.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_2_6x8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_2_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_2_3x8.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_2_2x8.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_2_1x8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_2_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_2_0x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_6_anim_Toy_11_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_6_anim_Toy_11_8x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_6_anim_Toy_11_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_6_anim_Toy_11_6x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_6_anim_Toy_11_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_6_anim_Toy_11_4x11.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_6_anim_Toy_11_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_6_anim_Toy_11_2x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_6_anim_Toy_11_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_6_anim_Toy_11_0x9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_5_anim_Toy_11_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_5_anim_Toy_11_8x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_5_anim_Toy_11_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_5_anim_Toy_11_6x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_5_anim_Toy_11_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_5_anim_Toy_11_4x11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_5_anim_Toy_11_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_5_anim_Toy_11_2x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_5_anim_Toy_11_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_5_anim_Toy_11_0x9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_4_anim_Toy_11_8x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_4_anim_Toy_11_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_4_anim_Toy_11_6x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_4_anim_Toy_11_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_4_anim_Toy_11_4x11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_4_anim_Toy_11_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_4_anim_Toy_11_2x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_4_anim_Toy_11_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2160,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_4_anim_Toy_11_0x9.png</key>
      <dict>
        <key>frame</key>
        <string>{{2160,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_3_anim_Toy_11_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{2160,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_3_anim_Toy_11_8x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{2160,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_3_anim_Toy_11_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{2160,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_3_anim_Toy_11_6x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{2160,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_3_anim_Toy_11_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_3_anim_Toy_11_4x11.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_3_anim_Toy_11_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_3_anim_Toy_11_2x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_3_anim_Toy_11_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_3_anim_Toy_11_0x9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_2_anim_Toy_11_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{2160,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_2_anim_Toy_11_8x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{2520,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_2_anim_Toy_11_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{2520,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_2_anim_Toy_11_6x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{2520,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_2_anim_Toy_11_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{2520,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_2_anim_Toy_11_4x11.png</key>
      <dict>
        <key>frame</key>
        <string>{{2520,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_2_anim_Toy_11_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2520,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_2_anim_Toy_11_2x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{2520,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_2_anim_Toy_11_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_2_anim_Toy_11_0x9.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_11_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_11_8x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_11_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_11_6x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_11_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{2160,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_11_4x11.png</key>
      <dict>
        <key>frame</key>
        <string>{{2520,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_11_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2880,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_11_2x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{2880,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_11_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2880,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_11_0x9.png</key>
      <dict>
        <key>frame</key>
        <string>{{2880,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_6_anim_Toy_10_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{2880,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_6_anim_Toy_10_8x5.png</key>
      <dict>
        <key>frame</key>
        <string>{{2880,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_6_anim_Toy_10_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{2880,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_6_anim_Toy_10_6x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{2880,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_6_anim_Toy_10_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2880},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_6_anim_Toy_10_4x11.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,2880},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_6_anim_Toy_10_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,2880},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_6_anim_Toy_10_2x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,2880},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_6_anim_Toy_10_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,2880},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_6_anim_Toy_10_0x9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,2880},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_5_anim_Toy_10_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{2160,2880},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_5_anim_Toy_10_8x5.png</key>
      <dict>
        <key>frame</key>
        <string>{{2520,2880},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_5_anim_Toy_10_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{2880,2880},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_5_anim_Toy_10_6x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{3240,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_5_anim_Toy_10_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{3240,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_5_anim_Toy_10_4x11.png</key>
      <dict>
        <key>frame</key>
        <string>{{3240,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_5_anim_Toy_10_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{3240,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_5_anim_Toy_10_2x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{3240,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_5_anim_Toy_10_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{3240,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_5_anim_Toy_10_0x9.png</key>
      <dict>
        <key>frame</key>
        <string>{{3240,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_4_anim_Toy_10_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{3240,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_4_anim_Toy_10_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{3240,2880},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_4_anim_Toy_10_6x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,3240},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_4_anim_Toy_10_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,3240},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_4_anim_Toy_10_4x11.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,3240},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_4_anim_Toy_10_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,3240},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_4_anim_Toy_10_2x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,3240},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_4_anim_Toy_10_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,3240},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_4_anim_Toy_10_0x9.png</key>
      <dict>
        <key>frame</key>
        <string>{{2160,3240},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_3_anim_Toy_10_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{2520,3240},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_3_anim_Toy_10_8x5.png</key>
      <dict>
        <key>frame</key>
        <string>{{2880,3240},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_3_anim_Toy_10_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{3240,3240},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_3_anim_Toy_10_6x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{3600,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_3_anim_Toy_10_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{3600,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_3_anim_Toy_10_4x11.png</key>
      <dict>
        <key>frame</key>
        <string>{{3600,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_3_anim_Toy_10_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{3600,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_3_anim_Toy_10_2x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{3600,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_3_anim_Toy_10_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{3600,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_3_anim_Toy_10_0x9.png</key>
      <dict>
        <key>frame</key>
        <string>{{3600,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_2_anim_Toy_10_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{3600,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_2_anim_Toy_10_8x5.png</key>
      <dict>
        <key>frame</key>
        <string>{{3600,2880},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_2_anim_Toy_10_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{3600,3240},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_2_anim_Toy_10_6x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,3600},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_2_anim_Toy_10_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,3600},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_2_anim_Toy_10_4x11.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,3600},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_2_anim_Toy_10_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,3600},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_2_anim_Toy_10_2x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,3600},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_2_anim_Toy_10_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,3600},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_2_anim_Toy_10_0x9.png</key>
      <dict>
        <key>frame</key>
        <string>{{2160,3600},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_10_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{2520,3600},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_10_8x5.png</key>
      <dict>
        <key>frame</key>
        <string>{{2880,3600},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_10_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{3240,3600},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_10_6x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{3600,3600},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Cat_1_anim_Toy_2_5x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Cat_anim-5.png</string>
      <key>size</key>
      <string>{3960,3960}</string>
      <key>textureFileName</key>
      <string>Cat_anim-5</string>
    </dict>
  </dict>
</plist>
