<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>mission_miruku.png</key>
      <dict>
        <key>frame</key>
        <string>{{5,5},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>mission_puzzle_fish.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,5},{204,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,180}}</string>
        <key>sourceSize</key>
        <string>{204,180}</string>
      </dict>
      <key>mission_customer.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,195},{204,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,180}}</string>
        <key>sourceSize</key>
        <string>{204,180}</string>
      </dict>
      <key>mission_login.png</key>
      <dict>
        <key>frame</key>
        <string>{{5,375},{204,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,180}}</string>
        <key>sourceSize</key>
        <string>{204,180}</string>
      </dict>
      <key>mission_puzzle.png</key>
      <dict>
        <key>frame</key>
        <string>{{5,565},{204,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,180}}</string>
        <key>sourceSize</key>
        <string>{204,180}</string>
      </dict>
      <key>mission_clean.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,385},{204,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,180}}</string>
        <key>sourceSize</key>
        <string>{204,180}</string>
      </dict>
      <key>mission_spend_coin.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,5},{204,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,180}}</string>
        <key>sourceSize</key>
        <string>{204,180}</string>
      </dict>
      <key>mission_spend_fish.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,195},{204,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,180}}</string>
        <key>sourceSize</key>
        <string>{204,180}</string>
      </dict>
      <key>mission_upgrade.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,385},{204,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,180}}</string>
        <key>sourceSize</key>
        <string>{204,180}</string>
      </dict>
      <key>mission_toy.png</key>
      <dict>
        <key>frame</key>
        <string>{{5,755},{204,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,180}}</string>
        <key>sourceSize</key>
        <string>{204,180}</string>
      </dict>
      <key>mission_ad.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,575},{204,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,180}}</string>
        <key>sourceSize</key>
        <string>{204,180}</string>
      </dict>
      <key>mission_toy_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,385},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>mission_toy_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,495},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>mission_toy_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,765},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>mission_toy_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,765},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>mission_toy_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,605},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>mission_toy_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,715},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>mission_toy_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,605},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>mission_toy_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,825},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>mission_toy_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,605},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>mission_toy_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,715},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>mission_toy_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,825},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>mission_toy_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,715},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>mission_icons.png</string>
      <key>size</key>
      <string>{798,940}</string>
      <key>textureFileName</key>
      <string>mission_icons</string>
    </dict>
  </dict>
</plist>
