<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Miruku.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,10},{432,549}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{432,549}}</string>
        <key>sourceSize</key>
        <string>{432,549}</string>
      </dict>
      <key>Chestnut.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,10},{431,404}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{431,404}}</string>
        <key>sourceSize</key>
        <string>{431,404}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>speakers.png</string>
      <key>size</key>
      <string>{903,569}</string>
      <key>textureFileName</key>
      <string>speakers</string>
    </dict>
  </dict>
</plist>
