<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>fish_5_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{393,390}}</string>
        <key>offset</key>
        <string>{3.5,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{7,0},{393,390}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_6_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,390},{387,379}}</string>
        <key>offset</key>
        <string>{6.5,10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,0},{387,379}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_5_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,0},{387,379}}</string>
        <key>offset</key>
        <string>{6.5,10.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,0},{387,379}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_0_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,387},{387,379}}</string>
        <key>offset</key>
        <string>{6.5,10.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,0},{387,379}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_4_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,769},{387,379}}</string>
        <key>offset</key>
        <string>{6.5,10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,0},{387,379}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_3_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,0},{387,379}}</string>
        <key>offset</key>
        <string>{6.5,10.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,0},{387,379}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_1_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,387},{387,379}}</string>
        <key>offset</key>
        <string>{6.5,10.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,0},{387,379}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_2_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1148},{387,379}}</string>
        <key>offset</key>
        <string>{6.5,10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,0},{387,379}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_1_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,774},{387,379}}</string>
        <key>offset</key>
        <string>{6.5,10.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,0},{387,379}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_2_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,774},{387,379}}</string>
        <key>offset</key>
        <string>{6.5,10.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,0},{387,379}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_0_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1151,0},{387,379}}</string>
        <key>offset</key>
        <string>{6.5,10.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,0},{387,379}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_6_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1151,387},{387,379}}</string>
        <key>offset</key>
        <string>{6.5,10.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,0},{387,379}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_3_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1145,774},{387,379}}</string>
        <key>offset</key>
        <string>{6.5,10.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,0},{387,379}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_4_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1527},{387,379}}</string>
        <key>offset</key>
        <string>{6.5,10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,0},{387,379}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_5_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,1161},{324,365}}</string>
        <key>offset</key>
        <string>{7,-17.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45,35},{324,365}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_2_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,1526},{352,336}}</string>
        <key>offset</key>
        <string>{-5,32}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,0},{352,336}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_4_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,1161},{351,336}}</string>
        <key>offset</key>
        <string>{-5.5,32}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,0},{351,336}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_6_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,1512},{351,336}}</string>
        <key>offset</key>
        <string>{-5.5,32}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,0},{351,336}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_3_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1047,1161},{351,336}}</string>
        <key>offset</key>
        <string>{-5.5,32}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,0},{351,336}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_5_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1059,1512},{351,336}}</string>
        <key>offset</key>
        <string>{-5.5,32}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,0},{351,336}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_6_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1383,1161},{351,336}}</string>
        <key>offset</key>
        <string>{-5.5,32}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,0},{351,336}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_4_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1530,0},{351,336}}</string>
        <key>offset</key>
        <string>{-5.5,32}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,0},{351,336}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_1_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1530,351},{351,336}}</string>
        <key>offset</key>
        <string>{-5.5,32}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,0},{351,336}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_0_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1530,702},{351,336}}</string>
        <key>offset</key>
        <string>{-5.5,32}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,0},{351,336}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_3_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1395,1512},{351,336}}</string>
        <key>offset</key>
        <string>{-5.5,32}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,0},{351,336}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_0_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1866,0},{351,336}}</string>
        <key>offset</key>
        <string>{-5.5,32}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,0},{351,336}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_1_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1866,351},{351,336}}</string>
        <key>offset</key>
        <string>{-5.5,32}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,0},{351,336}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_2_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1866,702},{351,336}}</string>
        <key>offset</key>
        <string>{-5.5,32}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,0},{351,336}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_5_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1719,1053},{276,263}}</string>
        <key>offset</key>
        <string>{1,15.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{63,53},{276,263}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_2_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1731,1329},{248,267}}</string>
        <key>offset</key>
        <string>{13,27.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{89,39},{248,267}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_2_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1731,1577},{241,259}}</string>
        <key>offset</key>
        <string>{12.5,24.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{92,46},{241,259}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_3_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1906},{241,259}}</string>
        <key>offset</key>
        <string>{12.5,24.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{92,46},{241,259}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_3_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,1906},{241,259}}</string>
        <key>offset</key>
        <string>{12.5,24.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{92,46},{241,259}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_0_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,1878},{241,259}}</string>
        <key>offset</key>
        <string>{12.5,24.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{92,46},{241,259}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_4_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,1863},{241,259}}</string>
        <key>offset</key>
        <string>{12.5,24.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{92,46},{241,259}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_1_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,1863},{241,259}}</string>
        <key>offset</key>
        <string>{12.5,24.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{92,46},{241,259}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_1_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1241,1863},{241,259}}</string>
        <key>offset</key>
        <string>{12.5,24.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{92,46},{241,259}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_5_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1482,1863},{241,259}}</string>
        <key>offset</key>
        <string>{12.5,24.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{92,46},{241,259}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_6_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1723,1863},{241,259}}</string>
        <key>offset</key>
        <string>{12.5,24.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{92,46},{241,259}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_4_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2147},{241,259}}</string>
        <key>offset</key>
        <string>{12.5,24.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{92,46},{241,259}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_6_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,2147},{241,259}}</string>
        <key>offset</key>
        <string>{12.5,24.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{92,46},{241,259}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_0_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,2122},{241,259}}</string>
        <key>offset</key>
        <string>{12.5,24.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{92,46},{241,259}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_1_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1998,1053},{144,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,28},{144,144}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>normal_2_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1998,1197},{144,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,28},{144,144}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>normal_3_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1998,1341},{144,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,28},{144,144}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>normal_4_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1998,1485},{144,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,28},{144,144}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>normal_5_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1972,1629},{144,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,28},{144,144}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>normal_6_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1972,1773},{144,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,28},{144,144}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>fish_4_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1964,1917},{144,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,28},{144,144}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>fish_5_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1964,2061},{144,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,28},{144,144}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>fish_6_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,2205},{144,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,28},{144,144}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>fish_0_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1144,2205},{144,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,28},{144,144}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>fish_2_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1288,2205},{144,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,28},{144,144}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>fish_3_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1432,2205},{144,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,28},{144,144}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>fish_1_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1576,2205},{144,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,28},{144,144}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>normal_0_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1720,2205},{144,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,28},{144,144}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>block.png</string>
      <key>size</key>
      <string>{2202,2388}</string>
      <key>textureFileName</key>
      <string>block</string>
    </dict>
  </dict>
</plist>
