<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>fish_6_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_6_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_0_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,400},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_0_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,400},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_1_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_1_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,400},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_1_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,800},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_2_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,800},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_2_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,800},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_2_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,0},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_3_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,400},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_3_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,800},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_3_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1200},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_4_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,1200},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_4_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1200},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_4_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,1200},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_5_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1600,0},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_5_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1600,400},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_5_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1600,800},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_6_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1600,1200},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_6_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1600},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>fish_0_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,1600},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_0_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1600},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_0_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,1600},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_0_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1600,1600},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_1_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{2000,0},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_1_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2000,400},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_1_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2000,800},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_2_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{2000,1200},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_2_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2000,1600},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_2_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2000},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_3_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,2000},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_3_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,2000},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_3_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,2000},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_4_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1600,2000},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_4_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2000,2000},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_4_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2400,0},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_5_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{2400,400},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_5_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2400,800},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_5_anim_break_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2400,1200},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_6_anim_break_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{2400,1600},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_6_anim_break_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2400,2000},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>normal_1_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2400},{200,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,200}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>normal_2_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,2400},{200,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,200}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>normal_3_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,2400},{200,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,200}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>normal_4_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,2400},{200,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,200}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>normal_5_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,2400},{200,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,200}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>normal_6_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,2400},{200,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,200}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>fish_4_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,2400},{200,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,200}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>fish_5_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1400,2400},{200,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,200}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>fish_6_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1600,2400},{200,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,200}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>fish_0_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,2400},{200,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,200}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>fish_2_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{2000,2400},{200,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,200}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>fish_3_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{2200,2400},{200,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,200}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>fish_1_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{2400,2400},{200,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,200}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>normal_0_anim_still_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{2600,2400},{200,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,200}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>paw.png</string>
      <key>size</key>
      <string>{2800,2600}</string>
      <key>textureFileName</key>
      <string>paw</string>
    </dict>
  </dict>
</plist>
