<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Toy_4_17x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_0_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_10_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_10_2x19.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_10_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_10_4x9.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_10_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_10_6x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_10_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_11_0x9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_11_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_11_2x9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_11_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_11_4x9.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_11_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_11_6x15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_11_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_1_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_2_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_3_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_00x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_01x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_02x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_03x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_04x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_05x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_06x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_07x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_08x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_09x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_10x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_11x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_12x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_13x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_14x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_15x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_16x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2160,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_10_0x7.png</key>
      <dict>
        <key>frame</key>
        <string>{{2160,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_18x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2160,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_19x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2160,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_20x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2160,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_21x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2160,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_22x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_23x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_4_24x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_00x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_01x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_02x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_03x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2160,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_04x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2520,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_05x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2520,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_06x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2520,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_07x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2520,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_08x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2520,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_09x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2520,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_10x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2520,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_11x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_12x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_13x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_14x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_15x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_16x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_17x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2160,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_18x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2520,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_19x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2880,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_20x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2880,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_21x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2880,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_22x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2880,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_23x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2880,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_5_24x3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2880,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_6_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{2880,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_7_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{2880,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_8_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2880},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Toy_9_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,2880},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Toys.png</string>
      <key>size</key>
      <string>{3240,3240}</string>
      <key>textureFileName</key>
      <string>Toys</string>
    </dict>
  </dict>
</plist>
