<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>StarPopout_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{594,239}}</string>
        <key>offset</key>
        <string>{3,40.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,140},{594,239}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>StarPopout_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,0},{562,230}}</string>
        <key>offset</key>
        <string>{8,35}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,150},{562,230}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>StarPopout_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1156,0},{532,219}}</string>
        <key>offset</key>
        <string>{8,30.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42,160},{532,219}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>StarPopout_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1688,0},{356,166}}</string>
        <key>offset</key>
        <string>{8,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{130,223},{356,166}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>StarPopout_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1688,166},{326,154}}</string>
        <key>offset</key>
        <string>{8,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{145,239},{326,154}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>StarPopout_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1156,219},{502,213}}</string>
        <key>offset</key>
        <string>{8,28.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{57,165},{502,213}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>StarPopout_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1658,320},{386,177}}</string>
        <key>offset</key>
        <string>{8,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{115,208},{386,177}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>StarPopout_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,230},{472,205}}</string>
        <key>offset</key>
        <string>{8,23.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{72,174},{472,205}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>StarPopout_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,230},{160,53}}</string>
        <key>offset</key>
        <string>{8,-65.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{228,339},{160,53}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>StarPopout_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,432},{444,195}}</string>
        <key>offset</key>
        <string>{8,17.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{86,185},{444,195}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>StarPopout_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1510,432},{298,140}}</string>
        <key>offset</key>
        <string>{8,-27}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{159,257},{298,140}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>StarPopout_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1650,497},{264,126}}</string>
        <key>offset</key>
        <string>{8,-39}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{176,276},{264,126}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>StarPopout_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1914,497},{224,107}}</string>
        <key>offset</key>
        <string>{8,-52.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{196,299},{224,107}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>StarPopout_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{1650,623},{414,186}}</string>
        <key>offset</key>
        <string>{8,11}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{101,196},{414,186}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>StarPopout_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{594,239}}</string>
        <key>offset</key>
        <string>{3,40.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,140},{594,239}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>StarPopout.png</string>
      <key>size</key>
      <string>{2044,1037}</string>
      <key>textureFileName</key>
      <string>StarPopout</string>
    </dict>
  </dict>
</plist>
