<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Hammer_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,606},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,606},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,606},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1210},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,1210},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,1210},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,606},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,1210},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1814},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,1814},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,1814},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,1814},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{2418,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{2418,606},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{2418,1210},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{2418,1814},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2418},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,2418},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,2418},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,2418},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{2418,2418},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{3022,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{3022,606},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{3022,1210},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{3022,1814},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{3022,2418},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,3022},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,3022},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,3022},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,3022},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{2418,3022},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{3022,3022},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{3626,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{3626,606},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{3626,1210},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{3626,1814},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{3626,2418},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{3626,3022},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,3626},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,3626},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,3626},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Spawn_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,3626},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Spawn_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2418,3626},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Spawn_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{3022,3626},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Spawn_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{3626,3626},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Spawn_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{4230,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Spawn_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{4230,606},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Spawn_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{4230,1210},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Spawn_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{4230,1814},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>BlueCircleBurst_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{4230,2418},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>BlueCircleBurst_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{4230,2822},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>BlueCircleBurst_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{4230,3226},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>BlueCircleBurst_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{4230,3630},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>BlueCircleBurst_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,4230},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>BlueCircleBurst_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,4230},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>BlueCircleBurst_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,4230},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>BlueCircleBurst_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,4230},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>BlueCircleBurst_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1618,4230},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>BlueCircleBurst_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{2022,4230},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>BlueCircleBurst_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{2426,4230},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>BlueCircleBurst_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{2830,4230},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>BlueCircleBurst_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{3234,4230},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarSpring_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{3638,4230},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarSpring_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{4042,4230},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarSpring_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,4634},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarSpring_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,4634},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarSpring_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,4634},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarSpring_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,4634},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarSpring_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1618,4634},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarSpring_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{2022,4634},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarSpring_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{2426,4634},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarSpring_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{2830,4634},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarSpring_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{3234,4634},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarSpring_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{3638,4634},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarSpring_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{4042,4634},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarSpring_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{4834,2},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{4834,406},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{4834,810},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{4834,1214},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{4834,1618},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{4834,2022},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{4634,2426},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{4634,2830},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{4634,3234},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{4634,3638},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{4446,4042},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{4446,4446},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarSpring_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,5038},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarCombo_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{4230,4034},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>StarCombo_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{5038,2426},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>StarCombo_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{5038,2550},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>StarCombo_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{5038,2674},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>StarCombo_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{5038,2798},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>StarCombo_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{5038,2922},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>StarCombo_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{5038,3046},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>StarCombo_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{5038,3170},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>StarCombo_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{5038,3294},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>StarCombo_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{5038,3418},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>StarCombo_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{5038,3542},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>StarCombo_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{5038,3666},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>StarCombo_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{5038,3790},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>StarCombo_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{5038,3914},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>StarCombo_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{5038,4038},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>StarCombo_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{4850,4042},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>StarCombo_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{4974,4162},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>BlueCircleBurst_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{2022,4230},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>Hammer_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,3626},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Hammer_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,3626},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>vfx_notrims.png</string>
      <key>size</key>
      <string>{5236,5440}</string>
      <key>textureFileName</key>
      <string>vfx_notrims</string>
    </dict>
  </dict>
</plist>
