<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Water_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,606},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,606},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,606},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1210},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,1210},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,1210},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,606},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,1210},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1814},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,1814},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,1814},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,1814},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{2418,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{2418,606},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{2418,1210},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{2418,1814},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2418},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,2418},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,2418},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,2418},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{2418,2418},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{3022,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{3022,606},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{3022,1210},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{3022,1814},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{3022,2418},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,3022},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,3022},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,3022},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,3022},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{2418,3022},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{3022,3022},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{3626,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{3626,606},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{3626,1210},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{3626,1814},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{3626,2418},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{3626,3022},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,3626},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,3626},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,3626},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,3626},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{2418,3626},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{3022,3626},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{3626,3626},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{4230,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>CircleBurst_2_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{4230,606},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>CircleBurst_2_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{4354,606},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>CircleBurst_2_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{4478,606},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>CircleBurst_2_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{4602,606},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>CircleBurst_2_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{4230,730},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>CircleBurst_2_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{4354,730},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>CircleBurst_2_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{4478,730},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>CircleBurst_2_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{4602,730},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>CircleBurst_2_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{4230,854},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>CircleBurst_2_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{4354,854},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>CircleBurst_2_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{4478,854},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>CircleBurst_2_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{4602,854},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>Water_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1814},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,3626},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{3022,3626},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{3022,3626},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{1814,1210},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,606},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,2},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
      <key>Water_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,606},{600,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{600,600}}</string>
        <key>sourceSize</key>
        <string>{600,600}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>vfx_notrims_2.png</string>
      <key>size</key>
      <string>{4832,4228}</string>
      <key>textureFileName</key>
      <string>vfx_notrims_2</string>
    </dict>
  </dict>
</plist>
