<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>ScoringBlack_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{477,1826}}</string>
        <key>offset</key>
        <string>{-4.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1826}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringBlack_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1832},{477,1826}}</string>
        <key>offset</key>
        <string>{-4.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1826}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringWhite_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,3662},{477,1826}}</string>
        <key>offset</key>
        <string>{-4.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1826}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringWhite_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,5492},{477,1826}}</string>
        <key>offset</key>
        <string>{-4.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1826}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringGreen_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,2},{477,1826}}</string>
        <key>offset</key>
        <string>{-4.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1826}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringGreen_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,1832},{477,1826}}</string>
        <key>offset</key>
        <string>{-4.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1826}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringRed_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,3662},{477,1826}}</string>
        <key>offset</key>
        <string>{-4.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1826}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringRed_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,5492},{477,1826}}</string>
        <key>offset</key>
        <string>{-4.5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1826}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringGreen_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,2},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringWhite_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,1831},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringBlack_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,3660},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringWhite_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,5489},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringWhite_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1445,2},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringWhite_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1445,1831},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringBlack_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1445,3660},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringWhite_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1445,5489},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringWhite_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{1926,2},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringRed_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1926,1831},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringGreen_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{1926,3660},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringGreen_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{1926,5489},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringBlack_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{2407,2},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringGreen_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{2407,1831},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringBlack_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{2407,3660},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringGreen_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{2407,5489},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringBlack_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{2888,2},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringGreen_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{2888,1831},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringGreen_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{2888,3660},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringRed_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{2888,5489},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringRed_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{3369,2},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringBlack_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{3369,1831},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringRed_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{3369,3660},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringRed_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{3369,5489},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringRed_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{3850,2},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringBlack_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{3850,1831},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringRed_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{3850,3660},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringWhite_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{3850,5489},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringGold_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{4331,2},{400,1800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
      <key>ScoringGold_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{4331,1806},{400,1800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
      <key>ScoringGold_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{4331,3610},{400,1800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
      <key>ScoringGold_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{4331,5414},{393,1800}}</string>
        <key>offset</key>
        <string>{2.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,0},{393,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
      <key>ScoringGold_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{4728,5414},{393,1800}}</string>
        <key>offset</key>
        <string>{2.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,0},{393,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
      <key>ScoringGold_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{4735,2},{393,1800}}</string>
        <key>offset</key>
        <string>{2.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,0},{393,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
      <key>ScoringGold_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{4735,1806},{393,1800}}</string>
        <key>offset</key>
        <string>{2.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,0},{393,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
      <key>ScoringGold_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{4735,3610},{393,1800}}</string>
        <key>offset</key>
        <string>{2.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,0},{393,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
      <key>ScoringGold_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{5125,5414},{393,1800}}</string>
        <key>offset</key>
        <string>{2.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,0},{393,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
      <key>ScoringBlack_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{2888,2},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringBlack_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{3850,1831},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringBlack_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{3850,1831},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringGold_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{5125,5414},{393,1800}}</string>
        <key>offset</key>
        <string>{2.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,0},{393,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
      <key>ScoringGold_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{4331,2},{400,1800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
      <key>ScoringGreen_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1926,3660},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringGreen_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{2888,3660},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringGreen_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{2888,3660},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringRed_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{2888,5489},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringRed_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1926,1831},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringRed_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1926,1831},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringWhite_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1926,2},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringWhite_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{3850,5489},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
      <key>ScoringWhite_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{3850,5489},{477,1825}}</string>
        <key>offset</key>
        <string>{-4.5,-5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{297,53},{477,1825}}</string>
        <key>sourceSize</key>
        <string>{1080,1920}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>vfx_scoring.png</string>
      <key>size</key>
      <string>{5520,7320}</string>
      <key>textureFileName</key>
      <string>vfx_scoring</string>
    </dict>
  </dict>
</plist>
