<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Bell VFX_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,380},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,380},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{760,0},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{760,380},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,760},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,760},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{760,760},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{1140,0},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{1140,380},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{1140,760},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1140},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,760},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1140},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
      <key>Bell VFX_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1140},{380,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,380}}</string>
        <key>sourceSize</key>
        <string>{380,380}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>vfxs_bell.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>vfxs_bell</string>
    </dict>
  </dict>
</plist>
