<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>ScoreLine_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{400,1800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
      <key>ScoreLine_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{400,1800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
      <key>ScoreLine_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{400,1800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
      <key>ScoreLine_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,0},{400,1800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
      <key>ScoreLine_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{1600,0},{400,1800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
      <key>ScoreLine_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1800},{400,1800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
      <key>ScoreLine_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{2000,0},{400,1800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
      <key>ScoreLine_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2200},{400,1800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
      <key>ScoreLine_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{2400,0},{400,1800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
      <key>CircleBurst_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,1800},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>CircleBurst_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,2200},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>CircleBurst_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{2200,1800},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>CircleBurst_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{2200,2200},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>CircleBurst_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2600},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>CircleBurst_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,2600},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>CircleBurst_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,2600},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>CircleBurst_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,2600},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>CircleBurst_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1600,2600},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>CircleBurst_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{2000,2600},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>CircleBurst_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{2400,2600},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{2800,0},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{2800,400},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{2800,800},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{2800,1200},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{2800,1600},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{2800,2000},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{2800,2400},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{2800,2800},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,3000},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,3000},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>StarGlow_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,3000},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>CircleBurst_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,3000},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>CircleBurst_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{1600,3000},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>CircleBurst_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{2000,3000},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>CircleBurst_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{2400,3000},{400,400}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,400}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>Smoke_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{3200,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Smoke_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{3200,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>PopOut_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{3200,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>PopOut_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{3200,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>PopOut_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{3200,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Smoke_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{3200,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Smoke_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{3200,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Smoke_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{3200,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Smoke_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{3200,2880},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Smoke_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,3400},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Smoke_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,3400},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Smoke_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,3400},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Smoke_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,3400},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>PopOut_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,3400},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Smoke_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1800,3400},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>PopOut_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{2160,3400},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Smoke_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{2520,3400},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Smoke_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{2880,3240},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Smoke_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{3560,0},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>Smoke_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{3560,360},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>PopOut_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{3560,720},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>PopOut_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{3560,1080},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>PopOut_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{3560,1440},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>PopOut_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{3560,1800},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>PopOut_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{3560,2160},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>PopOut_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{3560,2520},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>PopOut_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{3560,2880},{360,360}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{360,360}}</string>
        <key>sourceSize</key>
        <string>{360,360}</string>
      </dict>
      <key>BlockGlow_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{3240,3240},{300,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{300,300}}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
      <key>BlockGlow_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{3540,3240},{300,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{300,300}}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
      <key>BlockGlow_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,3760},{300,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{300,300}}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
      <key>BlockGlow_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,3760},{300,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{300,300}}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
      <key>BlockGlow_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,3760},{300,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{300,300}}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
      <key>ScoreLine_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{2000,0},{400,1800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
      <key>ScoreLine_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{400,1800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,1800}}</string>
        <key>sourceSize</key>
        <string>{400,1800}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>vfxs.png</string>
      <key>size</key>
      <string>{4096,4096}</string>
      <key>textureFileName</key>
      <string>vfxs</string>
    </dict>
  </dict>
</plist>
