<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>fishbone.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{113,60}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{113,60}}</string>
        <key>sourceSize</key>
        <string>{116,60}</string>
      </dict>
      <key>trashbag.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,60},{100,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{100,90}}</string>
        <key>sourceSize</key>
        <string>{100,92}</string>
      </dict>
      <key>milk.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,0},{94,68}}</string>
        <key>offset</key>
        <string>{-3,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,68}}</string>
        <key>sourceSize</key>
        <string>{100,68}</string>
      </dict>
      <key>tuna.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,150},{70,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{70,88}}</string>
        <key>sourceSize</key>
        <string>{72,88}</string>
      </dict>
      <key>coke.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,68},{80,51}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,51}}</string>
        <key>sourceSize</key>
        <string>{80,52}</string>
      </dict>
      <key>apple.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,150},{53,79}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{53,79}}</string>
        <key>sourceSize</key>
        <string>{56,80}</string>
      </dict>
      <key>papper.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,119},{57,60}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{57,60}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>trash.png</string>
      <key>size</key>
      <string>{207,238}</string>
      <key>textureFileName</key>
      <string>trash</string>
    </dict>
  </dict>
</plist>
